.btn {
    width: 200px;
    padding: 10px 0;
    margin: 5px;
    background: none;
    border: none;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px
}

.btn-orange {
    @extend .btn;
    background-color: orange;
}

.btn-pink {
    @extend .btn;
    background-color: pink;
}
.btn-red {
    @extend .btn;
    background-color: red;
}