$color-orange: #FB5607;
$color-pink: #FF006E;
$color-blue: #8338EC;


@mixin btn-style($background, $color) {
    background: $background;
    color: $color;

    &:hover {
        /*background: darken($color: $background, $amount: 2); /* a função darken faz com o escurecimento, então pode colocar a variável do mixin para gerar um fade no hover */

        /*background: desaturate($color: $background, $amount: 10); reduz a saturação da cor que está sofrendo a ação*/

        /*background: mix($background, #fff, $weight: 80);/* mistura as cores, bom para gerar um clareamento no hover */

        background: grayscale($background);/* adiciona uma escala de cinza na cor, gerando um clareamento em tons acinzentados */
        
        transition: all 800ms ease;
        cursor: pointer;
    }
}

.btn {
    width: 200px;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    background: none;
    text-transform: uppercase;

    &.btn-orange {
        @include btn-style($color-orange, #fff);
    }
    &.btn-pink {
        @include btn-style($color-pink, #fff);
    }
    &.btn-blue {
        @include btn-style($color-blue, #fff);
    }
}
